{% extends "sentry/index.html" %}
{% block content %}

    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/system/directory/dir_service_type.js"></script>

    {% include "sentry/system/directory/__left_block.html" %}

    <div class="middleBlock"><h2 class="cabinet_title">{{ title }}</h2>

        <table class="tableInfo" id="service_type">
            <thead>
            <tr class="row title">
                <td class="cell">
                    <input size="10" type="text" placeholder="Наименование" value="" name="type_name"></td>
                <td class="cell">
                    <input class="wide" type="text" placeholder="Описание" value="" name="description"></td>
                <td>
                    {% if perms.system.directory_service_type_add %}
                        <div class="btn_ui " action="type_add" icon="object_add" title="Добавить"><div class="icon"></div></div>
                    {% else %}<div class="empty_28"></div>
                    {% endif %}
                </td>
            </tr>
            </thead>
            <tbody class="show"></tbody>
        </table>

        <table class="tableInfo" id="service_subtype">
            <thead>
            <tr class="row title">
                <td class="cell">
                    <input size="10" type="text" placeholder="Наименование" value="" name="type_name"></td>
                <td class="cell">
                    <input class="wide" type="text" placeholder="Описание" value="" name="description"></td>
                <td>
                    {% if perms.system.directory_service_type_add %}
                        <div class="btn_ui " action="subtype_add" icon="object_add" title="Добавить"><div class="icon"></div></div>
                    {% else %}<div class="empty_28"></div>
                    {% endif %}
                </td>
            </tr>
            </thead>
            <tbody class="show"></tbody>
        </table>

        <div class="clear"></div>
        <div class="loading">Загрузка</div>

    </div>

{% endblock %}