{% extends "sentry/index.html" %}
{% block content %}

    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/system/directory/dir_holding.js"></script>
    {% include "sentry/system/directory/__left_block.html" %}
    <div class="middleBlock"><h2 class="cabinet_title">{{ title }}</h2>

        <div class="result_count"></div>
        <table class="tableInfo">
            <thead>
            <tr class="row title">
                <td class="cell">
                    <input class="wide" type="text"  placeholder="Наименование" value="" name="holding_name">
                </td>
                <td>{% if perms.system.directory_holding_add %}
                    <div class="btn_ui" action="add" icon="object_add" title="Добавить"><div class="icon"></div></div>
                {% else %}<div class="empty_28"></div>
                {% endif %}
                </td>
            </tr>
            </thead>
            <tbody class="show"></tbody>
        </table>
    </div>

{% endblock %}