{% extends "sentry/index.html" %}
{% block content %}

    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/system/directory/dir_bank.js"></script>
    {% include "sentry/system/directory/__left_block.html" %}
    <div class="middleBlock"><h2 class="cabinet_title">{{ title }}</h2>

        <div class="result_count"></div>
        <table class="tableInfo">
            <thead id="search_values">
            <tr class="row title">
                <td class="cell">
                    <input size="9" type="text"  placeholder="БИК" value="" name="bik"></td>
                <td class="cell">
                    <input class="wide" type="text"  placeholder="Наименование" value="" name="name"></td>
                <td class="cell">
                    <input size="16" type="text"  placeholder="Населенный пункт" value="" name="locality"></td>
                <td>{% if perms.system.directory_bank_add %}
                    <div class="btn_ui" action="add" icon="object_add" title="Добавить"><div class="icon"></div></div>
                {% else %}<div class="empty_28"></div>
                {% endif %}
                </td>
            </tr>
            </thead>
            <tbody class="show" id="bank_list"></tbody>
        </table>

        <div class="clear"></div>

        <!-- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- .hide -->

        <div class="pop" id="pop_bank">
            <div class="header"><b>Банк</b><div class="close"></div></div>

            <table class="tableInfo wide margin_null">
                <tbody class="show">
                <tr class="row2">
                    <td class="padding_9 text_right">БИК</td>
                    <td class="cell secondary"><input size="70" type="text" value="" id="bik" name="bik"></td></tr>
                <tr class="row2">
                    <td class="padding_9 text_right">Наименование</td>
                    <td class="cell secondary"><input size="70" type="text" value="" name="name"></td></tr>
                <tr class="row2">
                    <td class="padding_9 text_right">Корреспондентский счёт</td>
                    <td class="cell secondary"><input size="70" type="text" value="" name="correspondent_account"></td></tr>
                <tr class="row2">
                    <td class="padding_9 text_right">Населенный пункт</td>
                    <td class="cell secondary"><input size="70" type="text" value="" name="locality"></td></tr>
                <tr>
                    <td colspan="2">
                        <span class="btn_ui bg" action="save" icon="save"><div class="txt">Сохранить</div><div class="icon"></div></span>
                        <span class="btn_ui bg" action="delete" icon="delete"><div class="txt">Удалить</div><div class="icon"></div></span>
                    </td></tr>
                </tbody>
            </table>

        </div>

    </div>

{% endblock %}