{% extends "sentry/index.html" %}
{% block content %}

    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/system/directory/dir_sim_card.js"></script>

    {% include "sentry/system/directory/__left_block.html" %}

    <div class="middleBlock"><h2 class="cabinet_title">{{ title }}</h2>

        <div class="result_count"></div>

        <table class="tableInfo" id="sim_card_list">
            <thead>
            <tr class="row title">
                <td class="cell">
                    <input size="10" type="text" placeholder="Номер" value="" name="number"></td>
                <td class="cell">
                    <input size="13" type="text" placeholder="Устройство" value="" name="device_name"></td>
                <td>
                    {% if perms.system.directory_device_add %}
                        <div class="btn_ui bg" action="sim_add" icon="object_add" title="Добавить"><div class="icon"></div></div>
                    {% else %}
                        <div class="empty_28"></div>
                    {% endif %}
                    <div class="btn_ui bg" action="list_reset" icon="reset"><div class="icon"></div></div>
                </td>
            </tr>
            </thead>
            <tbody class="show"></tbody>
        </table>

        <div class="clear"></div>


        <!-- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- .hide -->

        <div class="pop" id="device_pop">
            <div class="header"><b>SIM карта</b><div class="close"></div></div>
            <form id="device_form">
                <table class="tableInfo wide margin_null">
                    <tr class="row2">
                        <td class="padding_9 text_right">Номер</td>
                        <td class="cell"><input name="number" class="wide" type="text" value=""></td></tr>
                    <tr class="row2">
                        <td class="padding_9 text_right">Устройство</td>
                        <td class="padding_9 text_left" name="device_name"></td></tr>
                    <tr><td colspan="2">
                        <button class="btn_ui bg" type="submit" icon="save"><div class="txt">Сохранить</div><div class="icon"></div></button>
                        <!--div class="btn_ui bg" action="device_reset" icon="reset"><div class="txt">Сбросить</div><div class="icon"></div></div-->
                        <div class="btn_ui bg left" action="sim_delete" icon="delete"><div class="txt">Удалить</div><div class="icon"></div></div>
                    </td></tr>
                </table>
            </form>
        </div>

    </div>

{% endblock %}