{% extends "sentry/index.html" %}
{% block content %}

<script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/system/directory/dir_contract_interval.js"></script>

{% include "sentry/system/directory/__left_block.html" %}

<div class="middleBlock"><h2 class="cabinet_title">{{ title }}</h2>

    <div class="result_count"></div>

    <table class="tableInfo" id="interval_list">
        <thead>
            <tr class="row title">
                <td class="cell">
                    <select class="wide" name="company"><option value="all">Организация (все)</option>
                        {% for item in company_set %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                <td class="cell"><p class="txt">Интервал</p></td>
                <td style="width:36px">
                    {% if perms.system.directory_contract_interval_add %}
                        <div class="btn_ui" action="add" icon="object_add" title="Добавить"><div class="icon"></div></div>
                    {% else %}<div class="empty_28"></div>
                    {% endif %}
                </td>
            </tr>
        </thead>
        <tbody class="show"></tbody>
    </table>

    <div class="clear"></div>

    <!-- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- .hide -->

    <div class="pop" id="pop_interval">
        <div class="header"><b>Интервал</b><div class="close"></div></div>

        <table class="tableInfo wide margin_null">
            <tr class="row">
                <td class="cell middle">Начало - конец</td>
                <td class="cell secondary nowrap">
                    <input class="half" type="text" value="" name="begin"><b class="txt2">-</b><input class="half" type="text" value="" name="end"></td></tr>
            <tr class="row">
                <td class="cell middle">Префикс</td>
                <td class="cell secondary"><input class="wide" type="text" value="" name="prefix"></td></tr>
            <tr class="row">
                <td class="cell middle">Организация</td>
                <td class="cell secondary">
                    <select class="wide" name="company">
                        {% for item in company_set %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td></tr>
            <tr class="row">
                <td class="cell" colspan="2">
                    <div class="btn_ui bg" action="save" icon="save" title="Сохранить"><div class="icon"></div><div class="txt">Сохранить</div></div>
                    <div class="btn_ui bg" action="delete" icon="delete" title="Удалить"><div class="icon"></div><div class="txt">Удалить</div></div>
                </td></tr>
        </table>

    </div>

</div>

{% endblock %}