{% extends "sentry/index.html" %}
{% block content %}

    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/system/directory/dir_device_communication.js"></script>

    {% include "sentry/system/directory/__left_block.html" %}

    <div class="middleBlock"><h2 class="cabinet_title">{{ title }}</h2>

        <div class="result_count"></div>

        <table class="tableInfo" id="device_communication_list">
            <thead>
            <tr class="row title">
                <td class="cell">
                    <select style="width: 100px" name="communication_type"><option value="">Среда (все)</option>
                        {% for item in device_communication_type_set %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                <td class="cell">
                    <input size="9" type="text" placeholder="Название" value="" name="name"></td>
                <td class="cell">
                    <input size="13" type="text" placeholder="Описание" value="" name="description"></td>
                <td>
                    {% if perms.system.directory_device_add %}
                        <div class="btn_ui" action="device_add" icon="object_add" title="Добавить"><div class="icon"></div></div>
                    {% else %}
                        <div class="empty_28"></div>
                    {% endif %}
                </td>
            </tr>
            </thead>
            <tbody class="show"></tbody>
        </table>

        <div class="clear"></div>


        <!-- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- .hide -->

        <div class="pop" id="device_pop">
            <div class="header"><b>Канал связи</b><div class="close"></div></div>

            <form id="device_form">
                <table class="tableInfo wide margin_null">
                    <tr class="row2">
                        <td class="padding_9 text_right"><div class="star">*</div>Канал передачи</td>
                        <td class="cell secondary"><select style="width: 100px" name="communication_type"><option value=""></option>
                            {% for item in device_communication_type_set %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select></td></tr>
                    <tr class="row2">
                        <td class="padding_9 text_right"><div class="star">*</div>Наименование</td>
                        <td class="cell secondary"><input name="name" type="text" value=""></td></tr>
                    <tr>
                        <td class="cell" colspan="2"><div class="star">*</div>Описание<br />
                            <textarea cols="45" rows="3" name="description"></textarea>
                        </td></tr>


                    <tr><td colspan="2">
                        <button class="btn_ui bg" type="submit" icon="save"><div class="txt">Сохранить</div><div class="icon"></div></button>
                        <!--div class="btn_ui bg" action="device_reset" icon="reset"><div class="txt">Сбросить</div><div class="icon"></div></div-->
                        <div class="btn_ui bg left" action="delete" icon="delete"><div class="txt">Удалить</div><div class="icon"></div></div>
                    </td></tr>
                </table>
            </form>
        </div>

    </div>

{% endblock %}