{% extends "index.html" %}

{% block content %}
    {% include "system/client/__left_block.html" %}

    <div class="middleBlock" client_id="{{ client.id }}" {% if contract_id %}contract_id="{{ contract_id }}"{% endif %}>
        <h2 class="cabinet_title">Клиент: {{ client.name }}</h2>

        {{ section }}


        {% if perms.system.client %}
            {% for object in client_object_set %}
                <div object_id="{{ object.id }}">
                    <div style="float: left; padding: 8px 20px 0 0; font-size: 20px;">Объект: {{ object.name }}</div>
                    <span class="btn_ui bg left" action="list_refresh" icon="reset"><div class="txt">Обновить</div><div class="icon"></div></span>
                    <span class="btn_ui bg left" action="user_add" icon="user_add"><div class="txt">Добавить</div><div class="icon"></div></span>
                    <div class="clear"></div>
                    <div class="objectsList"></div>
                </div>

                {% empty %}
                <span class="btn_ui bg left" action="list_refresh" icon="reset"><div class="txt">Обновить</div><div class="icon"></div></span>
                <span class="btn_ui bg left" action="user_add" icon="user_add"><div class="txt">Добавить</div><div class="icon"></div></span>
                <div class="clear"></div>
                <div class="objectsList"></div>

            {% endfor %}
        {% endif %}

        {% include "system/client/client_user__pop.html" %}

    </div>


    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/system/client/client_user.js"></script>

{% endblock %}
