{% extends "index.html" %}

{% block content %}
    {% include "system/client/__left_block.html" %}

    <div class="middleBlock" client_id="{{ client.id }}" {% if contract_id %}contract_id="{{ contract_id }}"{% endif %}>
        <h2 class="cabinet_title">Клиент: {{ client.name }}</h2>

        {{ section }}

        {% if perms.system.client %}
            <div class="left padding_bottom_2">
                <span class="btn_ui bg ui_left" action="list_refresh" icon="reset"><div class="txt">Обновить</div><div class="icon"></div></span>
                <span class="btn_ui bg ui_left" action="user_add" icon="user_add"><div class="txt">Добавить</div><div class="icon"></div></span>
            </div>
        {% endif %}

        <div class="clear"></div>
        <div class="objectsList" id="client_user_list"></div>

        {% include "system/client/client_user__pop.html" %}

    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/system/client/client_user.js"></script>

{% endblock %}
