{% extends "index.html" %}
{% block content %}
    {% include "system/client/__left_block.html" %}

    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/system/client/client_object_list.js"></script>
    <div class="middleBlock" client_id="{{ client_id }}">
        <h2 class="cabinet_title">Клиент: {{ client_name }}</h2>


        <div class="left">
            <div class="btn_ui bg ui_left" action="reset" icon="reset"><div class="txt">Обновить</div><div class="icon"></div></div>
            {% if perms.system.client_object_add %}
                <a href="/system/client/{{ client_id }}/contract/add/" class="btn_ui bg ui_left" icon="object_add"><div class="txt">Добавить</div><div class="icon"></div></a>
            {% endif %}
        </div>


        <div class="clear"></div>
        <div class="list" id="object_list"></div>
        <div class="clear"></div>
        <div class="loading">Загрузка</div>

{% endblock %}