{% extends "index.html" %}
{% block content %}
    {% include "system/client/__left_block.html" %}

    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/system/client/object_device.js"></script>

    <div class="middleBlock" client_id="{{ client_id }}" object_id="{{ object_id }}">
        <h2 class="cabinet_title">{{ object_set.name }}: {{ title|lower }}</h2>

        <table class="tableInfo show" id="device_installation_list" client_id="{{ client_id }}" object_id="{{ object_id }}">
            <thead>
            <tr class="row2"><td colspan="4">
                <span class="btn_ui bg" action="device_add" icon="object_add"><div class="icon"></div><div class="txt">Подключить</div></span>
                <span class="btn_ui bg" action="list_reset" icon="reset" title="Обновить"><div class="icon"></div><div class="txt">Обновить</div></span>
            </td></tr>
            <tr class="row title">
                <td class="cell">Дата установки</td>
                <td class="cell">Дата снятия</td>
                <td class="cell">Устройство</td>
                <td class="cell">Комментарий</td>
            </tr></thead>
            <tbody class="show"></tbody>
        </table>

        <div class="clear"><div class="loading">Загрузка</div></div>


        <!-- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- .hide -->

        <div class="pop" id="pop_device_installation">
            <form>
                <div class="header"><b>Установка объектового устройства</b><div class="close"></div></div>

                <table class="tableInfo wide margin_null">
                    <tr class="row">
                        <td class="cell middle">Объектовое устройство</td>
                        <td><input name="device__name" class="datepicker" type="text" value=""><div class="device_link">карточка устройства</div>
                        </td></tr>
                    <tr class="row">
                        <td class="cell middle">Дата установки</td>
                        <td><input name="installation_date" class="datepicker" type="text" value="" action="date">
                            <input name="installation_user" class="user_right" type="text" value="">
                        </td></tr>
                    <tr class="row">
                        <td class="cell middle">Дата снятия</td>
                        <td><input name="uninstall_date" class="datepicker" type="text" value="" action="date">
                            <input name="uninstall_user" class="user_right" type="text" value="">
                        </td></tr>
                    <tr class="row">
                        <td class="cell middle">Пароль</td>
                        <td class="cell secondary">
                            <input name="password" class="wide" type="text" value="">
                        </td></tr>
                    <tr class="row">
                        <td class="cell middle">Комментарий</td>
                        <td class="cell secondary">
                            <textarea cols="43" id="id_passport" name="comment" rows="3"></textarea>
                        </td></tr>

                    <tr class="row">
                        <td class="cell" colspan="2">
                            <button type="submit" class="btn_ui bg" icon="save"><div class="txt">Сохранить</div><div class="icon"></div></button>
                            <div class="btn_ui bg" action="installation_reset" icon="reset"><div class="txt">Сбросить</div><div class="icon"></div></div>
                            <div class="btn_ui bg" action="installation_delete" icon="delete" action="delete"><div class="txt">Удалить</div><div class="icon"></div></div>
                        </td></tr>
                </table>
            </form>
        </div>

        <div class="pop" id="pop_device">
            <div class="header"><b>Карточка устройства</b><div class="close"></div></div>
            <table class="tableInfo wide margin_null">
                <tr class="row2">
                    <td class="cell middle">Объектовое устройство</td>
                    <td><input name="name" class="datepicker" type="text" value="">
                    </td></tr>
                <tr class="row2">
                    <td class="padding_9 text_ritgh">Серия - номер</td>
                    <td class="cell secondary">
                        <input name="series" size="3" type="text" value=""><span class="txt2">-</span><input name="number" size="9" type="text" value="">
                    </td></tr>
                <tr class="row2"><td colspan="2">
                    <table class="tableInfo wide" id="device_installation">
                        <thead>
                        <tr><td class="inline_block padding bold" colspan="2">Подключенные объекты</td></tr>
                        <tr class="row title"><td class="cell">Объект</td><td class="cell">Приоритет</td></tr>
                        </thead>
                        <tbody class="show compact"><tr class="row"><td class="cell click"></td><td class="cell click"></td></tr></tbody>
                    </table>
                </td></tr>
                <tr class="row2">
                    <td class="cell" colspan="2">
                        <div class="btn_ui bg" action="device_update" icon="save"><div class="txt">Сохранить</div><div class="icon"></div></div>
                        <div class="btn_ui bg" action="device_reset" icon="reset"><div class="txt">Сбросить</div><div class="icon"></div></div>
                    </td></tr>
            </table>
        </div>

    </div>

{% endblock %}
