<div class="pop" id="event_pop_list">
    <div class="header"><b>Сопровождение объекта</b><div class="close"></div></div>
    <form>
        <table class="tableInfo wide margin_null">
            <tbody>
            <tr class="row" event_type="warden">
                <td class="cell middle"></td>
                <td class="data"><input class="datepicker" name="event_date" type="text">
                    <input name="sentry_user" size="31" type="text" class="event_user">
                    <div class="btn_ui btn_34 bg" action="clean_event" icon="cancel"><div class="icon"></div></div></td></tr>
            <tr class="row" event_type="register">
                <td class="cell middle"></td>
                <td class="data"><input class="datepicker" name="event_date" type="text">
                    <input name="sentry_user" size="31" type="text" class="event_user">
                    <div class="btn_ui btn_34 bg" action="clean_event" icon="cancel"><div class="icon"></div></div></td></tr>
            <tr class="row" event_type="return">
                <td class="cell middle"></td>
                <td class="data"><input class="datepicker" name="event_date" type="text">
                    <input name="sentry_user" size="31" type="text" class="event_user">
                    <div class="btn_ui btn_34 bg" action="clean_event" icon="cancel"><div class="icon"></div></div></td></tr>
            <tr class="row" event_type="connect">
                <td class="cell middle"></td>
                <td class="data"><input class="datepicker" name="event_date" type="text">
                    <input name="sentry_user" size="31" type="text" class="event_user">
                    <div class="btn_ui btn_34 bg" action="clean_event" icon="cancel"><div class="icon"></div></div></td></tr>
            <tr class="row" event_type="disconnect">
                <td class="cell middle"></td>
                <td class="data"><input class="datepicker" name="event_date" type="text">
                    <input name="sentry_user" size="31" type="text" class="event_user">
                    <div class="btn_ui btn_34 bg" action="clean_event" icon="cancel"><div class="icon"></div></div></td></tr>
            <tr class="row" event_type="notice">
                <td class="cell middle"></td>
                <td class="data"><input class="datepicker" name="event_date" type="text">
                    <input name="sentry_user" size="31" type="text" class="event_user">
                    <div class="btn_ui btn_34 bg" action="clean_event" icon="cancel"><div class="icon"></div></div></td></tr>
            <tr class="row" event_type="notice_off">
                <td class="cell middle"></td>
                <td class="data"><input class="datepicker" name="event_date" type="text">
                    <input name="sentry_user" size="31" type="text" class="event_user">
                    <div class="btn_ui btn_34 bg" action="clean_event" icon="cancel"><div class="icon"></div></div></td></tr>

            <tr class="row"><td colspan="2">
                <div style="float:right; padding: 5px 7px 5px">
                    <button class="btn_ui bg" type="submit" icon="save"><div class="txt">Сохранить</div><div class="icon"></div></button>
                    <span class="btn_ui bg" action="object_reset" icon="reset"><div class="txt">Сбросить</div><div class="icon"></div></span>
                </div>
            </td></tr>
            </tbody>
        </table>
    </form>

</div>