<div class="pop" id="pop_weapon">
    <div class="header"><b></b><div class="close"></div></div>
    <table class="tableInfo wide margin_null">
        <tr class="row" name="weapon">
            <td class="cell middle">Оружие</td>
            <td class="cell secondary"><select name="weapon"></select>
            </td></tr>
        <tr class="row" name="comment">
            <td class="cell">Комментарий</td>
            <td class="cell secondary"><textarea rows="2" cols="35"></textarea></td></tr>
        <tr class="row" name="buttons">
            <td class="cell" colspan="2">
                <span class="btn_ui" action="save" icon="save"><div class="txt">Сохранить</div><div class="icon"></div></span>
                <span class="btn_ui hide" action="delete" icon="delete"><div class="txt">Удалить</div><div class="icon"></div></span>
            </td></tr>
    </table>
</div>
