{% extends "index.html" %}
{% block content %}

<link href="{{ STATIC_URL }}jquery/ui/css/cupertino/jquery-ui-1.10.3.custom.css" rel="stylesheet">
<script type="text/javascript" src="{{ STATIC_URL }}jquery/ui/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery/ui/js/jquery-ui-1.10.3.custom.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-validate.min.js"></script>


<div class="page">
    {% if done %}
        <h1 class="page_title">Добро пожаловать на сайт!</h1>
    {% else %}
        <h1 class="page_title">Завершение регистрации</h1>

    <form class="request_form" action="/cabinet/confirm/{{ token }}/" method="post">{% csrf_token %}
        {% if error %}<div class="txt_error">{{ error }}</div>{% endif %}
        <table><tbody>
            <tr><td class="txt">Придумайте пароль</td>
                <td><input maxlength="128" name="password1" type="password"></td>
                </tr>
            <tr><td class="txt">Повторите, чтобы не ошибиться</td>
                <td><input maxlength="128" name="password2" type="password"></td>
                </tr>
        </tbody></table>

        <input type="submit" value="Отправить заявку">

    </form>

    {% endif %}


</div>

{% endblock %}