<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link href="{{ STATIC_URL }}index/css/style.css" type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}index/css/sentry.css" type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}index/css/table_info.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ STATIC_URL }}index/img/favicon.ico">
    <!-- jQuery -->
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/ui/js/jquery-ui-1.10.3.custom.js"></script>
    <link href="{{ STATIC_URL }}jquery/ui/css/cupertino/jquery-ui-1.10.3.custom.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/ui/development-bundle/ui/i18n/jquery-ui-i18n.js" ></script>
    <link href="{{ STATIC_URL }}jquery/ui/css/jquery-ui-timepicker-addon.css" type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}jquery/ui/css/cupertino/jquery-ui-1.10.3.custom.css" type="text/css" rel="stylesheet">
    <script src="{{ STATIC_URL }}jquery/jquery.validate.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="{{ STATIC_URL }}index/js/csrf.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}index/js/pop_menu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}index/js/pop_event.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}index/js/top_navigation.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}index/js/toolset/contract_string_set.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}index/js/toolset/get_each_value.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}index/js/toolset/select_sentry_user.js"></script>
    <script type="text/javascript">lunchbox = {{ request.session.lunchbox|safe }};</script>

    <meta name="description" content="СУР"><title>{% if title %}{{ title }}{% else %}СУР{% endif %}</title>
</head>
<body>

{% include "sentry/system/notice.html" %}

{% comment %}
<div class="site_navigation">
    {% include "index__top_navigation.html" %}
</div>
{% endcomment %}

<div class="inside_navigation">
    {% include "sentry/index__top_menu.html" %}
</div>

<div class="conteiner wide">
    <div class="wrapper">
        {% block content %}{% endblock %}
    </div>

    {% comment %}
    {% include "footer.html" %}
    {% endcomment %}
</div>

</body>
<html>

