{% extends "index.html" %}
{% block content %}
    {% include "system/directory/__left_block.html" %}

    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/system/directory/dir_bonus.js"></script>
    <div class="middleBlock"><h2 class="cabinet_title">{{ title }}</h2>

        <table class="tableInfo show" id="bonus_list">
            <thead>
            <tr class="row title">
                <td class="cell"><input class="wide" type="text"  placeholder="Наименование" value="" name="bonus_name"></td>
                <td class="middle cell">Описание</td>
                <td style="width:36px">{% if perms.system.directory_bonus_add %}
                    <div class="btn_ui" action="add" icon="object_add" title="Добавить"><div class="icon"></div></div>
                {% else %}<div class="empty_28"></div>
                {% endif %}
                </td>
            </tr>
            </thead>
            <tbody class="show"></tbody>
        </table>

        <div class="clear"></div><div class="loading">Загрузка</div>

        <!-- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- .hide -->

        <div class="pop" id="bonus_pop">
            <div class="header"><b>Бонус</b><div class="close"></div></div>
            <form>

                <table class="tableInfo wide margin_null">
                    <tr class="row">
                        <td class="cell right"><div class="star">*</div>Метка (на английском)</td>
                        <td class="cell secondary"><input class="wide" type="text" value="" name="label"></td></tr>
                    <tr class="row">
                        <td class="cell right"><div class="star">*</div>Название</td>
                        <td class="cell secondary"><input class="wide" type="text" value="" name="name"></td></tr>
                    <tr class="row">
                        <td class="cell right"><div class="star">*</div>Описание</td>
                        <td class="cell secondary"><input class="wide" type="text" value="" name="description"></td></tr>
                    <tr class="row">
                        <td class="cell right">Оплата</td>
                        <td><input class="width_70" type="text" name="cost"><div class="txt9">{{ request.session.currency }}</div></td></tr>
                    <tr class="row">
                        <td class="cell right">Сотрудник по-умолчанию</td>
                        <td class="cell secondary">
                            <select function="select_sentry_user" name="sentry_user">
                                <option value=""></option>
                                <optgroup post_id="12" label="Менеджер"></optgroup>
                                <optgroup post_id="8" label="Инженер"></optgroup>
                                <optgroup post_id="18" label="Офис-менеджер"></optgroup>
                                <optgroup post_id="13" label="Менеджер-бухгалтер"></optgroup>
                                <optgroup post_id="25" label="Техник"></optgroup>
                            </select>
                            <!--input class="wide" type="text" value="" name="sentry_user"-->
                        </td></tr>

                    <tr class="row">
                        <td class="cell" colspan="2">
                            <button class="btn_ui bg" type="submit" icon="save" title="Сохранить"><div class="icon"></div><div class="txt">Сохранить</div></button>
                            <div class="btn_ui bg" action="delete" icon="delete" title="Удалить"><div class="icon"></div><div class="txt">Удалить</div></div>
                        </td></tr>
                </table>
            </form>

        </div>


    </div>

{% endblock %}