{% extends "index.html" %}
{% block content %}

    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/system/directory/dir_device.js"></script>

    {% include "system/directory/__left_block.html" %}

    <div class="middleBlock"><h2 class="cabinet_title">{{ title }}</h2>

        <div class="result_count"></div>

        <table class="tableInfo" id="device_list">
            <thead>
            <tr class="row title">
                <td class="cell">
                    <select style="width: 100px" name="device_console"><option value="">Пульт (все)</option>
                        {% for item in device_console_set %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                <td class="cell">
                    <select style="width: 100px" name="device_type"><option value="">Название (все)</option>
                        {% for item in device_type_set %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                <td class="cell">
                    <input size="9" type="text" placeholder="Серийный / инвентарный номер" value="" name="name"></td>
                <td class="cell">
                    <select style="width: 100px" name="belong">
                        <option value="">Собственность (все)</option>
                        <option value="rent">Аренда</option>
                        <option value="sell">Продано</option>
                    </select></td>
                <td class="cell">
                    <input size="13" type="text" placeholder="Комментарий" value="" name="comment"></td>
                <td>
                    {% if perms.system.directory_device_add %}
                        <div class="btn_ui bg" action="device_add" icon="object_add" title="Добавить"><div class="icon"></div></div>
                    {% else %}<div class="empty_28"></div>
                    {% endif %}
                    <div class="btn_ui bg" action="device_list_reset" icon="reset" title="Обновить"><div class="icon"></div></div>
                </td>
            </tr>
            </thead>
            <tbody class="show"></tbody>
        </table>

        <div class="clear"></div><div class="loading">Загрузка</div>


        <!-- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- .hide -->

        <div class="pop" id="device_pop">
            <div class="header"><b>Карточка устройства</b><div class="close"></div></div>

            <form id="device_form">
                <table class="tableInfo wide margin_null">
                    <tr class="row2">
                        <td class="padding_9 text_right">Серийный / инвентарный номер</td>
                        <td><input name="name" class="datepicker" type="text" value="">
                        </td></tr>
                    <tr class="row2">
                        <td class="padding_9 right">Название</td>
                        <td class="cell secondary"><select name="device_type"><option value=""></option>
                            {% for item in device_type_set %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select></td></tr>
                    <tr class="row2">
                        <td class="padding_9 right">Пульт</td>
                        <td class="cell secondary"><select name="device_console"><option value=""></option>
                            {% for item in device_console_set %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select></td></tr>

                    <tr class="row2 switch" name="belong">
                        <td class="padding_9 text_right">Аренда</td><td><div class="chechbox"></div></td></tr>

                    <tr class="row2" name="communication_gsm">
                        <td colspan="2">
                            <div class="device_sim_card_title">Используется GSM канал</div>
                            <div class="in_pop_sublist device_sim_card_list"></div>
                            <input class="device_sim_card" type="text" value="">
                            <div class="btn_ui bg left" action="sim_card_add" icon="object_add"><div class="txt">Добавить SIM карту</div><div class="icon"></div></div>
                        </td></tr>

                    <tr class="row2" name="code">
                        <td class="padding_9 text_right">Ключ шифрования</td><td><input class="margin-5-5-0 code" name="code" type="text" value=""></td></tr>

                    <tr>
                        <td class="cell" colspan="2">Комментарий<br />
                            <textarea cols="45" rows="3" id="id_passport" name="comment"></textarea>
                        </td></tr>
                    <tr class="row2"><td colspan="2">
                        <table class="tableInfo wide" id="device_install">
                            <thead>
                            <tr><td class="inline_block padding bold" colspan="2">Подключенные объекты</td></tr>
                            <tr class="row title"><td class="cell">Объект</td><td class="cell">Приоритет</td></tr>
                            </thead>
                            <tbody class="show compact"><tr class="row"><td class="cell click"></td><td class="cell click"></td></tr></tbody>
                        </table>
                    </td></tr>

                    <tr class="row2"><td class="padding_9 text_right" colspan="2">
                        <!--table id="wires">
                            <thead><tr class="text_left">
                                <td>№</td>
                                <td>Описание</td>
                                <td>Раздел</td>
                            </tr></thead>
                            <tbody>
                            <tr class="row2" name="wire_01">
                                <td class="padding_9">01</td>
                                <td class="cell secondary"><input type="text" size="35" name="description" value=""></td>
                                <td class="cell secondary"><input type="text" size="1" name="zone" value="1"></td>
                            </tr>
                            <tr class="row2" name="wire_02">
                                <td class="padding_9">02</td>
                                <td class="cell secondary"><input type="text" size="35" name="description" value=""></td>
                                <td class="cell secondary"><input type="text" size="1" name="zone" value="1"></td>
                            </tr>
                            <tr class="row2" name="wire_03">
                                <td class="padding_9">03</td>
                                <td class="cell secondary"><input type="text" size="35" name="description" value=""></td>

                                <td class="cell secondary"><input type="text" size="1" name="zone" value="1"></td>
                            </tr>
                            <tr class="row2" name="wire_04">
                                <td class="padding_9">04</td>
                                <td class="cell secondary"><input type="text" size="35" name="description" value=""></td>

                                <td class="cell secondary"><input type="text" size="1" name="zone" value="1"></td>
                            </tr>
                            <tr class="row2" name="wire_05">
                                <td class="padding_9">05</td>
                                <td class="cell secondary"><input type="text" size="35" name="description" value=""></td>

                                <td class="cell secondary"><input type="text" size="1" name="zone" value="1"></td>
                            </tr>
                            <tr class="row2" name="wire_06">
                                <td class="padding_9">06</td>
                                <td class="cell secondary"><input type="text" size="35" name="description" value=""></td>

                                <td class="cell secondary"><input type="text" size="1" name="zone" value="1"></td>
                            </tr>
                            <tr class="row2" name="wire_07">
                                <td class="padding_9">07</td>
                                <td class="cell secondary"><input type="text" size="35" name="description" value=""></td>

                                <td class="cell secondary"><input type="text" size="1" name="zone" value="1"></td>
                            </tr>
                            <tr class="row2" name="wire_08">
                                <td class="padding_9">08</td>
                                <td class="cell secondary"><input type="text" size="35" name="description" value=""></td>

                                <td class="cell secondary"><input type="text" size="1" name="zone" value="1"></td>
                            </tr>
                            <tr class="row2" name="wire_09">
                                <td class="padding_9">09</td>
                                <td class="cell secondary"><input type="text" size="35" name="description" value=""></td>

                                <td class="cell secondary"><input type="text" size="1" name="zone" value="1"></td>
                            </tr>
                            <tr class="row2" name="wire_10">
                                <td class="padding_9">10</td>
                                <td class="cell secondary"><input type="text" size="35" name="description" value=""></td>

                                <td class="cell secondary"><input type="text" size="1" name="zone" value="1"></td>
                            </tr>
                            <tr class="row2" name="wire_11">
                                <td class="padding_9">11</td>
                                <td class="cell secondary"><input type="text" size="35" name="description" value=""></td>

                                <td class="cell secondary"><input type="text" size="1" name="zone" value="1"></td>
                            </tr>
                            <tr class="row2" name="wire_12">
                                <td class="padding_9">12</td>
                                <td class="cell secondary"><input type="text" size="35" name="description" value=""></td>

                                <td class="cell secondary"><input type="text" size="1" name="zone" value="1"></td>
                            </tr>
                            <tr class="row2" name="wire_13">
                                <td class="padding_9">13</td>
                                <td class="cell secondary"><input type="text" size="35" name="description" value=""></td>

                                <td class="cell secondary"><input type="text" size="1" name="zone" value="1"></td>
                            </tr>
                            <tr class="row2" name="wire_14">
                                <td class="padding_9">14</td>
                                <td class="cell secondary"><input type="text" size="35" name="description" value=""></td>

                                <td class="cell secondary"><input type="text" size="1" name="zone" value="1"></td>
                            </tr>
                            <tr class="row2" name="wire_15">
                                <td class="padding_9">15</td>
                                <td class="cell secondary"><input type="text" size="35" name="description" value=""></td>

                                <td class="cell secondary"><input type="text" size="1" name="zone" value="1"></td>
                            </tr>
                            <tr class="row2" name="wire_16">
                                <td class="padding_9">16</td>
                                <td class="cell secondary"><input type="text" size="35" name="description" value=""></td>
                                <td class="switch"><div class="chechbox"></div></td>
                                <td class="cell secondary"><input type="text" size="1" name="zone" value="1"></td>
                            </tr>
                            </tbody>
                        </table-->
                    </td></tr>

                    <tr><td colspan="2">
                        <button class="btn_ui bg" type="submit" icon="save"><div class="txt">Сохранить</div><div class="icon"></div></button>
                        <!--div class="btn_ui bg" action="device_reset" icon="reset"><div class="txt">Сбросить</div><div class="icon"></div></div-->
                        <div class="btn_ui bg left" action="delete" icon="delete"><div class="txt">Удалить</div><div class="icon"></div></div>
                    </td></tr>
                </table>
            </form>
        </div>

    </div>

{% endblock %}