{% extends "sentry/index.html" %}
{% block content %}

    {% include "sentry/task/__left_block.html" %}
    <link href="{{ STATIC_URL }}index/css/sentry_task.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/task/task_add.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/task/task_renter.js"></script>

    <div class="middleBlock">

        <form class="renter_board">
            <div class="render_item" id="renter_object">
                <div class="head"><b>Объект</b>
                    <div class="btn_ui btn_32" action="cancel_object" icon="cancel" title="Отменить объект"><div class="icon"></div></div>
                </div>
                <div class="slot hide">
                    <div class="renter_date"><b>Отключение:</b><input class="datepicker" name="end_date" value="{{ tomorrow }}"></div>
                </div>
            </div>
            <div class="render_item" id="renter_client">
                <div class="head"><b>Новый арендатор</b>
                    <div class="btn_ui btn_32" action="change" icon="save" title="Сменить"><div class="icon"></div></div>
                    <div class="btn_ui btn_32" action="cancel_client" icon="cancel" title="Отменить объект"><div class="icon"></div></div>
                </div>
                <div class="slot hide">
                    <div class="renter_date"><b>Подключение:</b><input class="datepicker" name="begin_date" value="{{ tomorrow }}"></div>
                </div>
            </div>
        </form>

        <table class="tableInfo search"><tbody>
        <tr class="row"><td class="padding_9 right">№ договора</td>
            <td class="cell secondary"><input class="wide" type="text" value="" name="contract_number"></td>
        </tr>
        <tr class="row"><td class="padding_9 right">Плательщик</td>
            <td class="cell secondary"><input class="wide" type="text" value="" name="client_name"></td>
        </tr>
        <tr class="row"><td class="padding_9 right">Объект</td>
            <td class="cell secondary"><input class="wide" type="text" value="" name="object_name"></td>
        </tr>
        <tr class="row"><td class="padding_9 right">Адрес (улица)</td>
            <td class="cell secondary"><input class="wide" type="text" value="" name="address"></td>
        </tr>

        <tr class="row white"><td colspan="2">
            <span class="btn_ui bg" action="search" icon="search"><div class="txt">Найти</div><div class="icon"></div></span>
            <span class="btn_ui bg" action="reset" icon="reset"><div class="txt">Сбросить</div><div class="icon"></div></span>
        </td></tr>

        </tbody></table>

        <div class="clear"></div><div class="loading">Загрузка</div>

        <div class="result_count"></div>
        <div class="list" id="object_list"></div>

    </div>

{% endblock %}