{% extends "sentry/index.html" %}
{% block content %}

    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/system/setting/search.js"></script>
    <link href="{{ STATIC_URL }}index/css/settings.css" type="text/css" rel="stylesheet">
    {% include "sentry/system/setting/__left_block.html" %}
    <div class="middleBlock"><h2 class="cabinet_title">{{ title }}</h2>


        <div class="left">
            <div class="wide left">
                <div class="left padding">
                    <h3>Дополнительные элементы</h3>
                    <div class="item__list" side="expand"></div>
                </div>
                <div class="left padding">
                    <h3>Основные элементы</h3>
                    <div class="item__list" side="primary"></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="wide padding">
                <h3>Скрытые элементы</h3>
                <div class="item__list" side="hide"></div>
            </div>

            <div>
                <div class="btn_ui bg" action="update" icon="save"><div class="txt">Сохранить</div><div class="icon"></div></div>
                <div class="btn_ui bg" action="reset" icon="reset"><div class="txt">Сбросить</div><div class="icon"></div></div>
            </div>
        </div>


    </div>

{% endblock %}