<script type="text/javascript" src="{{ STATIC_URL }}index/js/notice.js"></script>
<link href="{{ STATIC_URL }}index/css/notice.css" type="text/css" rel="stylesheet">

<div class="notice">
    <div class="notice_btn">0</div>
    <div class="notice_list">
        <div class="top">
            <div class="title" action="notice_click">Оповещения</div>
            <div class="btn_ui btn_28" action="notice_click" icon="close"><div class="icon"></div></div>
            <div class="btn_ui btn_28" action="notice_all_sight" icon="delete"><div class="icon"></div></div>
        </div>
        <div class="clear"></div>
        <div class="body">
            <div class="notice__item">
                <div class="date">09.10.2015 14:15</div>
                <div class="btn_ui btn_28" action="notice_item_sight" icon="close"><div class="icon"></div></div>
                <div class="clear"></div>
                <div class="log_type">Снят с охраны объект (отключен)</div>
                <a class="client_object" href="">квартира посуточно</a>
                <div class="clear"></div>
                <div class="later">
                    <div class="later__title">Напомнить позже</div>
                    <div class="later__item">15 минут</div>
                    <div class="later__item">30 минут</div>
                    <div class="later__item">1 час</div>
                    <div class="later__item">3 часа</div>
                    <div class="later__item">12 часов</div>
                </div>
            </div>
        </div>

    </div>
</div>