{% extends "sentry/index.html" %}
{% block content %}
    {% include "sentry/system/client/__left_block.html" %}

    <script type="text/javascript" src="{{ STATIC_URL }}index/js/pop_menu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/system/client/client_payment.js"></script>

    <div class="middleBlock" client_id="{{ client_id }}">
        <h2 class="cabinet_title">Клиент: {{ client_set.name }}</h2>

        <table class="tableInfo show" id="payment_list">
            <thead>
            <tr><td colspan="5">
                <div class="balance"></div>
                {% if perms.system.client_payment_change %}
                    <div class="btn_ui bg right" action="payment_add" icon="object_add" title="Пополнить баланс"><div class="txt">Пополнить</div><div class="icon"></div></div>
                {% endif %}
                {% if years_list %}
                    <div class="select_year">
                        <a class="arrow prev"><</a>
                        <select class="year"><option value="all">все</option>
                            {% for item in years_list %}
                                <option class="item" value="{{ item }}" {% if forloop.last %}selected{% endif %}>{{ item }}</option>
                            {% endfor %}
                        </select>
                        <a class="arrow next">></a>
                        <div class="btn_ui bg" action="list_reset" icon="reset"><div class="icon"></div><div class="txt">Обновить</div></div>
                    </div>
                {% endif %}</td></tr>
            <tr class="row title">
                <td class="cell">Дата платежа</td>
                <td class="cell">Способ оплаты</td>
                <td class="cell">Сумма (руб.)</td>
                <td class="cell">Ф.И.О.</td>
                <td class="cell">Комментарий</td>
            </tr>
            </thead>
            <tbody class="show"></tbody>
        </table>

        <div class="clear"></div>
        <div class="loading">Загрузка</div>

        <div class="hide" id="no_pay">Платежей небыло</div>

        {% include "sentry/system/client/client_payment__pop.html" %}

    </div>

{% endblock %}