{% extends "sentry/index.html" %}
{% block content %}
    {% include "sentry/system/client/__left_block.html" %}

    <script type="text/javascript" src="{{ STATIC_URL }}index/js/pop_menu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/system/client/object_weapon.js"></script>

    <div class="middleBlock" client_id="{{ client_id }}" object_id="{{ object_id }}">
        <h2 class="cabinet_title">Клиент: {{ client_name }}</h2>

        <div>
            <select class="selectObject" name="service_select">
                {% for object in objects_set %}
                    <option value="{{ object.id }}" level="object">объект: {{ object.get_contract_type }} {{ object.name }}</option>
                    {% for service in service_set %}
                        {% if service.object.id == object.id %}
                            <option value="{{ service.id }}" level="service">&nbsp;&nbsp;&nbsp;&nbsp;{{ service.get_contract_type }} {{ service.name }}</option>
                        {% endif  %}
                    {% endfor %}
                {% endfor %}
            </select>
        </div>


        <fieldset class="inline_block"><legend class="title">Список оружия</legend>
            <table class="tableInfo compact" id="weapon_list">
                <thead><tr><td class="btn_line" colspan="3">
                    {% if perms.system.client_object_weapon_add %}
                        <span class="btn_ui" action="object_add" icon="object_add" name="object_service" title="Добавить услугу"><div class="icon"></div></span>
                    {% endif %}
                    <span class="btn_ui" action="reset" icon="reset" name="object_service" title="Обновить"><div class="icon"></div></span>
                </td></tr>
                <tr class="row title">
                    <td class="cell">Название</td>
                    <td class="cell">Серия, №</td>
                    <td class="cell">Комментарий</td></tr>
                </thead>
                <tbody class="show"></tbody>
            </table>
        </fieldset>
        <div class="clear"><div class="loading">Загрузка</div></div>

        {% include "sentry/system/client/object_weapon__pop.html" %}
    </div>

{% endblock %}