{% extends "index.html" %}
{% block content %}

    {% include "task/__left_block.html" %}
    <link href="{{ STATIC_URL }}index/css/sentry_task.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/task/task.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/task/task__pop.js"></script>
    <div class="middleBlock" client_id="{{ client_id }}" object_id="{{ object_id }}">

        <table class="tableInfo search expand"><tbody>
        <tr class="row"><td class="padding_9 right">Статус заявки</td>
            <td class="padding_right"><select class="wide margin_5" name="task_status"><option value="" selected>все</option>
                {% for item in task_status_set %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            </td></tr>
        <tr class="row"><td class="padding_9 right">Фактический исполнитель</td>
            <td class="secondary">
                <select class="wide width_320" function="select_sentry_user" name="warden">
                    <option value="">все</option>
                    <optgroup post_id="1" label="Администратор"></optgroup>
                    <optgroup post_id="12" label="Менеджер"></optgroup>
                    <optgroup post_id="8" label="Инженер"></optgroup>
                    <optgroup post_id="3" label="Бухгалтер"></optgroup>
                    <optgroup post_id="21" label="Руководитель"></optgroup>
                    <optgroup post_id="15" label="Оперативный дежурный"></optgroup>
                    <optgroup post_id="25" label="Техник"></optgroup>
                    <optgroup post_id="18" label="Офис-менеджер"></optgroup>
                    <optgroup post_id="13" label="Менеджер-бухгалтер"></optgroup>
                    <optgroup post_id="14" label="Начальник охраны"></optgroup>
                    <optgroup post_id="9" label="Кадровик"></optgroup>
                    <optgroup post_id="2" label="Администратор ГПБ"></optgroup>
                </select>
            </td></tr>
        <tr class="row"><td class="padding_9 right">Выполнила ГБР</td>
            <td class="padding_right"><select class="wide margin_5" name="squad">
                <option></option>
                <option value="all" selected>все</option>
                {% for item in dir_security_squad_set %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select></td></tr>
        <tr class="row"><td class="padding_9 right">№ договора</td>
            <td class="padding_right"><input class="wide margin_5 sentry_user" type="text" value="" name="contract"></td></tr>
        <tr class="row"><td class="padding_9 right">Период</td>
            <td class="padding_right">
                <input class="datepicker" type="text" value="{{ month_begin }}" name="from_date" id="from"><span style="float:left; padding:8px 10px;">-</span>
                <input class="datepicker" type="text" value="{{ today }}" name="to_date" id="to"></td></tr>

        </tbody></table>


        <table class="tableInfo search"><tbody>
        <tr class="row">
            <td class="padding_9 right">Ответственное лицо</td>
            <td class="secondary" colspan="2">
                <select class="wide width_320" function="select_sentry_user" name="warden">
                    <option value="">все</option>
                    <optgroup post_id="12" label="Менеджер"></optgroup>
                    <optgroup post_id="8" label="Инженер"></optgroup>
                    <optgroup post_id="18" label="Офис-менеджер"></optgroup>
                    <optgroup post_id="13" label="Менеджер-бухгалтер"></optgroup>
                    <optgroup post_id="2" label="Администратор ГПБ"></optgroup>
                </select>
            </td></tr>
        <tr class="row middle">
            <td class="padding_9 right">Поручено к исполнению</td>
            <td class="secondary" colspan="2">
                <select class="wide width_320" function="select_sentry_user" name="doer">
                    <option value="">все</option>
                    <optgroup post_id="12" label="Менеджер"></optgroup>
                    <optgroup post_id="8" label="Инженер"></optgroup>
                    <optgroup post_id="25" label="Техник"></optgroup>
                    <optgroup post_id="18" label="Офис-менеджер"></optgroup>
                    <optgroup post_id="13" label="Менеджер-бухгалтер"></optgroup>
                </select>
            </td></tr>
        <tr class="row">
            <td class="padding_9 right">Населенный пункт</td>
            <td class="secondary" colspan="2">
                <input class="wide" type="text" value="" name="locality">
            </td></tr>
        <tr class="row"><td class="padding_9 right">Тип заявки</td>
            <td class="secondary" colspan="2">
                <select class="wide" name="task_type">
                    <option value="">все</option>
                    {% for item in task_type_set %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </td></tr>

        <tr class="row"><td class="padding_9 right">Сортировать</td>
            <td class="secondary" colspan="2">
                <select class="wide" name="order_by">
                    <option value="create_date">время создания</option>
                    <option value="-create_date">время создания (обрат. порядок)</option>
                    <!--option value="object__service_contract">номер договора</option-->
                    <!--option value="object__device_number">номер на пульте</option-->
                    <option value="comment">причина</option>
                    <option value="status">статус</option>
                    <option value="-status">статус (обратный порядок)</option>
                </select>
            </td></tr>
        <tr class="row status">
            <td class="switch" name="uncompleted"><div class="chechbox"></div><div class="txt">Только невыполненные</div></td>
            <td class="switch" name="expired" colspan="2"><div class="chechbox"></div><div class="txt">Скрыть просроченные</div></td>
            <!--td><div class="btn_ui bg" action="reset" icon="reset" title="Обновить"><div class="icon"></div></div></td-->
        </tr>
        <tr class="row white"><td colspan="3">
            <span class="btn_ui bg" action="search" icon="search"><div class="txt">Найти</div><div class="icon"></div></span>
            <!--span class="btn_ui bg" action="reset" icon="reset"><div class="txt">Сбросить</div><div class="icon"></div></span-->
            <span class="btn_ui bg left" action="expand" icon="arrow_right"><div class="txt">Ещё детали</div><div class="icon"></div></span>
        </td></tr>

        </tbody>
        </table>

        <div class="clear"></div>
        <div class="result_count"></div>

        <table class="tableInfo list" id="task_list">
            <thead>
            <tr class="row title">
                <td class="cell select">
                    <select name="task_type"><option value="">Тип заявки (все)</option>
                        {% for item in dir_task_type_set %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select></td>
                <td class="cell input">
                    <input size="9" type="text" placeholder="Объект, адрес" value="" name="client_object_name"></td>
                <td class="cell input">
                    <input size="3" type="text" placeholder="Исполнитель" value="" name="series"></td>
                <td class="cell input">
                    <input size="8" type="text" placeholder="Причина" value="" name="comment"></td>
                <td class="cell">Дата создания</td>
            </tr>
            </thead>
            <tbody class="show"></tbody>
        </table>

        <div class="clear"></div>

        {% include "task/task__pop.html" %}
        {% include "task/task__pop_report.html" %}
        {% include "task/task__pop_log.html" %}

    </div>
{% endblock %}