<client_name></client_name>


<form class="alarm">

    <div class="row col-xs-offset-1">
        <small>Время поступления тревоги: </small><time_begin></time_begin> <small>от начала тревоги: </small><from_begin></from_begin>
    </div>
    <div class="row col-xs-offset-1" style="margin-bottom:5px;">
        <small>Время следования экипажа: </small><time_way></time_way><small> Прибытие: </small><time_text_2></time_text_2>
    </div>


    <div class="row">
        <first-step>
            <div class="input-group input-group-sm col-xs-8 col-xs-offset-1" style="padding: 2px;">
                <span class="input-group-addon">Вызов</span>
                <select class="form-control" style="margin-right: 20px;">
                    {% for item in gbr_list %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
                <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
            </div>
        </first-step>
    </div>


    <div class="row">
        <second-step>
            <div class="input-group input-group-sm col-xs-8 col-xs-offset-1" style="padding: 2px;">
                <span class="input-group-addon">Прибытие</span>
                <select class="form-control" style="margin-right: 20px;">
                    {% for item in gbr_list %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
                <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
            </div>
        </second-step>
    </div>



    <div class="row">
        <third-step>
            <div class="input-group input-group-sm col-xs-8 col-xs-offset-1" style="padding: 2px;">
                <span class="input-group-addon">Тип события</span>
                <select class="form-control" style="margin-right: 20px;">
                        <option value="">-----</option>
                    {% for item in inc_list %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}

                </select>
                <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
            </div>
        </third-step>
    </div>


<div>


</div>

</form>


<div class="noalarm">

    <h3 class="text-center">Нет тревоги по данному объекту</h3>

    <div class="col-md-4 col-md-offset-8" style="padding-top:20px;">
        <button create_alarm="OK" type="button" class="btn btn-warning btn-xs btn-block">Создать тревогу</button>
    </div>

</div>


