            <div class="livepannel" hidden="hidden">

                <div class="row">
                    <small>Номер: Тестирование</small>
                </div>
                <div class="row">
                    <small>Наименование: Тестирование</small>
                </div>
                <div class="row">
                    <small>Адрес: Тестирование</small>
                </div>
                <div class="row">
                    <small>Телефон: Тестирование</small>
                </div>
                <div class="row">
                    <small>Группа: Тестирование</small>
                </div>
                <div class="row">
                    <small>Пароль: Тестирование</small>
                </div>
                <div class="row">
                    <small>Время поступления тревоги: Тест</small><small>от начала тревоги: Тест</small>
                </div>
                <div class="row">
                    <small>Время следования экипажа: Тест Прибытие: Тест</small>
                </div>

                <div class="row" style="padding:10px;">
                    <div class="col-xs-2">
                        <small>Вызов:</small>
                    </div>
                    <div class="col-xs-3 col-xs-offset-4">
                        <small>Прибытие:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-5" style="padding-right:2px;">
                        <select class="col-xs-12">
                            <option value="0">-----</option>
                            <option value="1">Вызов ГБР не производится</option>
                            <option value="2">ГБР-1</option>
                            <option value="3">ГБР-10</option>
                            <option value="4">ГБР-11</option>
                            <option value="5">ГБР-12</option>
                            <option value="6">ГБР-2</option>
                            <option value="7">ГБР-3</option>
                            <option value="8">ГБР-4</option>
                            <option value="9">ГБР-5</option>
                            <option value="10">ГБР-6</option>
                            <option value="11">ГБР-7</option>
                            <option value="12">ГБР-8</option>
                            <option value="13">Звонок на объект</option>
                            <option value="14">Звонок ответственному</option>
                            <option value="15">Звонок с объекта</option>
                        </select>
                    </div>
                    <div class="col-xs-1" style="padding-left:2px;">
                        <button type="button" class="btn btn-primary btn-xs">Y</button>
                    </div>
                    <div class="col-xs-5" style="padding-right:2px;">
                        <select class="col-xs-12">
                            <option value="0">-----</option>
                            <option value="1">Вызов ГБР не производится</option>
                            <option value="2">ГБР-1</option>
                            <option value="3">ГБР-10</option>
                            <option value="4">ГБР-11</option>
                            <option value="5">ГБР-12</option>
                            <option value="6">ГБР-2</option>
                            <option value="7">ГБР-3</option>
                            <option value="8">ГБР-4</option>
                            <option value="9">ГБР-5</option>
                            <option value="10">ГБР-6</option>
                            <option value="11">ГБР-7</option>
                            <option value="12">ГБР-8</option>
                            <option value="13">Отмена вызова</option>
                            <option value="14">Прибытие х/о</option>
                        </select>
                    </div>
                    <div class="col-xs-1" style="padding-left:2px;">
                        <button type="button" class="btn btn-primary btn-xs">Y</button>
                    </div>

                </div>



                <div class="row" style="padding:10px;">
                    <div class="col-xs-2">
                        <small>Осмотр:</small>
                    </div>
                    <div class="col-xs-3 col-xs-offset-4">
                        <small>Решение:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-5" style="padding-right:2px;">
                        <select class="col-xs-12">
                            <option value="0">-----</option>
                            <option value="1">Вина монтажника</option>
                            <option value="2">Внережимное время</option>
                            <option value="3">Вызов техников</option>
                            <option value="4">Вызов хоз. органа</option>
                            <option value="5">Звонок дежурному</option>
                            <option value="6">Звонок на объект</option>
                            <option value="7">Звонок ответственному лицу</option>
                            <option value="8">Звонок руководству</option>
                            <option value="9">Звонок с объекта</option>
                            <option value="10">Кража</option>
                            <option value="11">Монтаж сигнализации</option>
                            <option value="12">На объекте животные</option>
                            <option value="13">На объекте норма</option>
                            <option value="14">Насекомые</option>
                            <option value="15">Обрыв шлейфа</option>
                            <option value="16">Осмотр 04</option>
                            <option value="17">Осмотр объекта</option>
                            <option value="18">Открыта дверь</option>
                            <option value="19">Открыта форточка</option>
                            <option value="20">Ошибка ГБР</option>
                            <option value="21">Ошибка оператора</option>
                            <option value="22">Ошибка охранника</option>
                            <option value="23">Ошибка техника</option>
                            <option value="24">Ошибка хоз. органа</option>
                            <option value="25">Панель трубку "взяла"</option>
                            <option value="26">Пожар</option>
                            <option value="27">Попытка проникновения</option>
                            <option value="28">Преждевременное снятие с охраны х/о</option>
                            <option value="29">Причина сработки ТК не установлена</option>
                            <option value="30">Проверка ОПС не производилась</option>
                            <option value="31">Проверка СПИ(модем) - норма</option>
                            <option value="32">Проверка СПИ(панель) - норма</option>
                            <option value="33">Проверка работоспособности ОС</option>
                            <option value="34">Проникновение на объект</option>
                            <option value="35">Работают техники</option>
                            <option value="36">Разбито стекло</option>
                            <option value="37">Ручной опрос ретранслятора</option>
                            <option value="38">Сквозняк</option>
                            <option value="39">Случайное нажатие ТК</option>
                            <option value="40">Строб горит</option>
                            <option value="41">Строб не горит</option>
                            <option value="42">Х/о задерживается на объекте</option>
                            <option value="42">Хулиганы</option>
                        </select>
                    </div>
                    <div class="col-xs-1" style="padding-left:2px;">
                        <button type="button" class="btn btn-primary btn-xs">Y</button>
                    </div>
                    <div class="col-xs-5" style="padding-right:2px;">
                        <select class="col-xs-12">
                            <option value="0">-----</option>
                            <option value="1">Вина х/о</option>
                            <option value="2">Заявка технику</option>
                            <option value="3">Отбой тревоги - ГНР</option>
                            <option value="4">Отбой тревоги - оператор</option>
                            <option value="5">Отбой тревоги - хозорган</option>
                            <option value="6">Ошибка при постоновке</option>
                            <option value="7">Ошибка при снятии</option>
                            <option value="8">Причина не установлена</option>
                            <option value="9">Сделана запись в тетради</option>
                            <option value="10">Учебная тревога</option>
                        </select>
                    </div>
                    <div class="col-xs-1" style="padding-left:2px;">
                        <button type="button" class="btn btn-primary btn-xs">Y</button>
                    </div>

                </div>



                <div class="col-md-4 col-md-offset-7" style="padding-top:40px;">
                    <button clear="OK" type="button" class="btn btn-warning btn-xs btn-block">Отмена тревоги</button>
                </div>
            </div>
