<client_name></client_name>


<div class="alarm">

    <div class="row">
        <small>Время поступления тревоги: Тест</small><small>от начала тревоги: Тест</small>
    </div>
    <div class="row">
        <small>Время следования экипажа: Тест Прибытие: Тест</small>
    </div>

    <div class="row" style="padding:10px;">
        <div class="col-xs-2">
            <small>Вызов:</small>
        </div>
        <div class="col-xs-3 col-xs-offset-4">
            <small>Прибытие:</small>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5" style="padding-right:2px;">
            <select class="col-xs-12">
                {% for item in start_list %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-1" style="padding-left:2px;">
            <button type="button" class="btn btn-primary btn-xs">Y</button>
        </div>
        <div class="col-xs-5" style="padding-right:2px;">
            <select class="col-xs-12">
                {% for item in gbr_list %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-1" style="padding-left:2px;">
            <button type="button" class="btn btn-primary btn-xs">Y</button>
        </div>

    </div>



    <div class="row" style="padding:10px;">
        <div class="col-xs-2">
            <small>Осмотр:</small>
        </div>
        <div class="col-xs-3 col-xs-offset-4">
            <small>Решение:</small>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5" style="padding-right:2px;">
            <select class="col-xs-12">
                {% for item in gbr_list %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}

            </select>
        </div>
        <div class="col-xs-1" style="padding-left:2px;">
            <button type="button" class="btn btn-primary btn-xs">Y</button>
        </div>
        <div class="col-xs-5" style="padding-right:2px;">
            <select class="col-xs-12">
                {% for item in start_list %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-1" style="padding-left:2px;">
            <button type="button" class="btn btn-primary btn-xs">Y</button>
        </div>

    </div>



    <div class="col-md-4 col-md-offset-7" style="padding-top:20px;">
        <button clear="OK" type="button" class="btn btn-warning btn-xs btn-block">Отмена тревоги</button>
    </div>

</div>



<div class="noalarm">

    <h3 class="text-center">Нет тревоги по данному объекту</h3>

</div>
