{% extends "sentry/index.html" %}
{% block content %}




    <link href="{{ STATIC_URL }}monitor/css/monitor.css" type="text/css" rel="stylesheet">

    {# bootstrap #}
    <link href="{{ STATIC_URL }}monitor/css/bootstrap.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{{ STATIC_URL }}monitor/js/bootstrap.js"></script>

    <link href="{{ STATIC_URL }}monitor/css/monitorplus.css" type="text/css" rel="stylesheet">

    <script type="text/javascript" src="{{ STATIC_URL }}monitor/js/operator/monitor.js"></script>



<div class="container col-md-12" border="ok">

    <div class="row" style="padding-top:5px;">

        <div part="left" class="col-md-10 operator">

            <table class="table table-condensed" style="margin-bottom:0;">
                <thead>
                    <tr style="background-color: lightgray;">
                        <th col="1" class="text-left" style="width:10%;">№</th>
                        <th col="2" class="text-left" style="width:5%;">Статус</th>
                        <th col="3" class="text-left" style="width:25%;">Населенный пункт</th>
                        <th col="4" class="text-left" style="width:25%;">Адрес</th>
                        <th col="5" class="text-left" style="width:25%;">Наименование</th>
                        <th col="6" class="text-left" style="width:10%;">Телефон</th>
                    </tr>
                </thead>
            </table>

            <div  style="height:350px; overflow:scroll;">
                <table group="1" class="table table-bordered table-condensed" >

                    <tbody group="1">
                    </tbody>


                </table>
            </div>

        </div>
        <div part="right">
            {% include "monitor/operator/livepannel.html" %}
            {% include "monitor/operator/phones.html" %}
        </div>

        <div class="col-md-2" style="border: solid 1px gray; border-radius:10px; padding:5px;">
            <button group="1" type="button" class="btn btn-default btn-xs btn-block" style="color: black">Все ()</button>
            <button group="1" type="button" class="btn btn-default btn-xs btn-block" style="color: blue">Охраняемые ()</button>
            <button group="1" type="button" class="btn btn-default btn-xs btn-block" style="color: green">Не под охраной ()</button>
            <button group="1" type="button" class="btn btn-default btn-xs btn-block" style="color: blue">Тревожные ()</button>
            <button group="1" type="button" class="btn btn-default btn-xs btn-block" style="color: red">Неисправности ()</button>
            <button group="1" type="button" class="btn btn-default btn-xs btn-block" style="color: red">Проверить ()</button>
            <button group="1" type="button" class="btn btn-default btn-xs btn-block" style="color: red">Нет теста ()</button>
            <button group="1" type="button" class="btn btn-default btn-xs btn-block" style="color: green">Обслуживание ()</button>
            <button group="1" type="button" class="btn btn-default btn-xs btn-block" style="color: blue">Не обслуживаемые ()</button>
            <button group="1" type="button" class="btn btn-default btn-xs btn-block" style="color: red">Не охраняемые ()</button>
        </div>
    </div>

    <div class="row" style="padding-top:5px;">
        <div class="col-md-10">

            <table class="table table-condensed" style="margin-bottom:0;">
                <thead>
                    <tr style="background-color: lightgray;">
                        <th class="text-left" style="width:10%;">Дата</th>
                        <th class="text-left" style="width:5%;">Время</th>
                        <th class="text-left" style="width:10%;">Номер на пульте</th>
                        <th class="text-left" style="width:25%;">Название объекта</th>
                        <th class="text-left" style="width:30%;">Событие</th>
                        <th class="text-left" style="width:5%;">Р</th>
                        <th class="text-left" style="width:5%;">Ш</th>
                    </tr>
                </thead>
            </table>

            <div  style="height:350px; overflow:scroll;">
                <table group="2" class="table table-bordered table-condensed" >
                    <tbody id="table2" group="2">
                    </tbody>

                </table>
            </div>



        </div>
        <div class="col-md-2" style="border: solid 1px gray; border-radius:10px; padding:5px;">
            <button group="2" type="button" class="btn btn-default btn-xs btn-block" style="color: black">Все</button>
            <button group="2" type="button" class="btn btn-default btn-xs btn-block" style="color: red">Тревожные</button>
            <button group="2" type="button" class="btn btn-default btn-xs btn-block" style="color: black">На объекте</button>
            <button group="2" type="button" class="btn btn-default btn-xs btn-block" style="color: red">Неисправности</button>
            <button group="2" type="button" class="btn btn-default btn-xs btn-block" style="color: black">Система</button>
            <button group="2" type="button" class="btn btn-default btn-xs btn-block" style="color: green">На обслуживании</button>

        </div>
    </div>

</div>








{% endblock %}