            <div class="livepannel" hidden="hidden">

                <div class="row">
                    <small>Номер:</small>
                </div>
                <div class="row">
                    <small>Наименование:</small>
                </div>
                <div class="row">
                    <small>Адрес:</small>
                </div>
                <div class="row">
                    <small>Телефон:</small>
                </div>
                <div class="row">
                    <small>Группа:</small>
                </div>
                <div class="row">
                    <small>Пароль:</small>
                </div>
                <div class="row">
                    <small>Время поступления тревоги:</small><small>от начала тревоги:</small>
                </div>
                <div class="row">
                    <small>Время следования экипажа: Прибытие:</small>
                </div>

                <div class="row" style="padding:10px;">
                    <div class="col-xs-2">
                        <small>Вызов:</small>
                    </div>
                    <div class="col-xs-3 col-xs-offset-4">
                        <small>Прибытие:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-5" style="padding-right:2px;">
                        <select class="col-xs-12">
                            <option value="1">Вызог ГБР не производится</option>
                        </select>
                    </div>
                    <div class="col-xs-1" style="padding-left:2px;">
                        <button type="button" class="btn btn-primary btn-xs">Y</button>
                    </div>
                    <div class="col-xs-5" style="padding-right:2px;">
                        <select class="col-xs-12">
                            <option value="1">ГБР на объект не отправлялось</option>
                        </select>
                    </div>
                    <div class="col-xs-1" style="padding-left:2px;">
                        <button type="button" class="btn btn-primary btn-xs">Y</button>
                    </div>

                </div>



                <div class="row" style="padding:10px;">
                    <div class="col-xs-2">
                        <small>Осмотр:</small>
                    </div>
                    <div class="col-xs-3 col-xs-offset-4">
                        <small>Решение:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-5" style="padding-right:2px;">
                        <select class="col-xs-12">
                            <option value="1">На объекте норма</option>
                        </select>
                    </div>
                    <div class="col-xs-1" style="padding-left:2px;">
                        <button type="button" class="btn btn-primary btn-xs">Y</button>
                    </div>
                    <div class="col-xs-5" style="padding-right:2px;">
                        <select class="col-xs-12">
                            <option value="1">Отбой тревоги - оператор</option>
                        </select>
                    </div>
                    <div class="col-xs-1" style="padding-left:2px;">
                        <button type="button" class="btn btn-primary btn-xs">Y</button>
                    </div>

                </div>



                <div class="col-md-4 col-md-offset-7" style="padding-top:40px;">
                    <button type="button" class="btn btn-warning btn-xs btn-block">Отмена тревоги</button>
                </div>
            </div>
