<div class="phones" hidden="hidden">

<div class="container col-md-12">


    <div class="row">


        <p>Номер на пульте: <b></b></p>
        <p>Наименование: <b></b></p>


        <table class="table table-condensed" style="margin-bottom:0;">
            <thead>
                <tr style="background-color: lightgray;">
                    <th class="text-left" style="width:35%;">Должность</th>
                    <th class="text-left" style="width:35%;">ФИО</th>
                    <th class="text-left" style="width:30%;">Телефон</th>
                </tr>
            </thead>
        </table>

    </div>

    <div  style="height:200px; overflow:scroll;">
        <table group="3" class="table table-bordered table-condensed" >
            <tbody id="table3" group="3">
            </tbody>
        </table>
    </div>


    <div class="col-md-3 col-md-offset-8" style="padding-top:40px;">
        <button clear-phones="OK" type="button" class="btn btn-info btn-xs btn-block">Закрыть</button>
    </div>


</div>

</div>