{% extends "index_admin.html" %}
{% block content %}

<div class="breadcrumbs">
    <a href="/admin">Home</a> ›
    <a href="/admin/index/">Index</a> ›
    <a href="/admin/index/page/">Страницы</a> › {{ page.title }}
</div>

{% if page %}
<link href="{{ STATIC_URL }}admin/css/index_admin.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/index_page.js"></script>

<div id="admin_change">

{% if page.id == 'add' %}
    <h1>Создание новой страницы.</h1>
{% endif %}

<form id="main_form" method="post" main_id="{{ page.id }}">{% csrf_token %}
    <table id="table_title">
        <tr><td id="td_title"><input id="title" value="{{ page.title }}"></td></tr>
    </table>
    <textarea name="ckeditor">{{ page.text }}</textarea>


    {% if page.id != 'add' %}
        <input type="button" value="Удалить" onclick="Page_save('delete')">
    {% endif %}
        <input type="button" value="Сохранить" onclick="Page_save()">

</form>



</div>

{% endif %}

{% endblock %}