{% extends "index_admin.html" %}
{% block content %}

<div class="breadcrumbs">
    <a href="/admin">Home</a> ›
    <a href="/admin/index/">Index</a> ›
    <a href="/admin/index/article/">Articles</a> › {{ article.title }}
</div>

{% if article %}
<link href="{{ STATIC_URL }}admin/css/index_admin.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/index_article.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/index_tags.js"></script>

<div id="admin_change">

{% if article.id == 0 %}
    <h1>Создание новой статьи.</h1>
{% endif %}

<form id="main_form" method="post" main_id="{{ article.id }}">{% csrf_token %}
    <div class="visible" title="Видимость статьи">
        {% if article.id == 0 %}
            <div class="yes">
        {% else %}
            <div class="{{ article.visible }}">
        {% endif %}
            </div>
    </div>

    <div id="table_title">
        <div id="td_title"><input id="title" value="{{ article.title }}"></div>
        <div id="td_time"><input id="date_create" value="{{ article.date_create|date:'Y-m-d H:i' }}"></div>
    </div>


    <textarea name="article">{{ article.text }}</textarea>


    <div class="item">
        <b>Превью:</b><input id="input_thumb" value="{{ article.entry_thumb }}">
        <div action="open_explorer">Выбор на сервере</div>
    </div>

    <div id="tags" tag_section="articles">
        <h2>Метки:</h2>
        <div id="tags_list">
        {% for tag in article.tags.all %}
            <div class="tag" tag_id="{{ tag.id }}" tag_transfer="{{ tag.transfer }}">
                <div class="edit">{{ tag.title }}</div>
                <div class="delete">x</div>
            </div>
            {% empty %}
        {% endfor %}
        </div>

        <div id="tags_change">
            <b>имя</b><input id="tag_title" value="">
            <b>транскрипция</b><input id="tag_transfer" value="">
            <div class="button" id="add" onclick="tagAdd()">Добавить</div>
            <div class="button hide" id="update" onclick="tagUpdate()">Изменить</div>
            <div class="button hide" id="cancel" onclick="tagCancel()">Отмена</div>
        </div>
    </div>


    {% if article.id != 0 %}
        <input type="button" value="Удалить" onclick="articleDelete()">
    {% endif %}
        <input type="button" value="Сохранить" onclick="articleSave()">

</form>



</div>

{% endif %}

{% endblock %}