<script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/post/personal_certificate.js"></script>

<div class="pop" id="pop_user_certificate">
    <div class="header"><b></b><div class="close"></div></div>

    <form>
        <table class="tableInfo wide margin_null"><tbody>

        <tr><td colspan="2">{% include "post/personal__pop__navigation.html" with focus="certificate" %}</td></tr>

        <tr class="row2">
            <td class="padding_9 right"><div class="required">*</div>Серия, номер</td>
            <td class="secondary">
                <input type="text" value="" name="series" size="2">
                <input type="text" value="" name="number" size="9">
                <div style="display:inline-block; margin-left:10px;"><span style="float:left; padding:5px 5px 0 0"><div class="required">*</div>Разряд</span>
                <select name="category">
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select></div>
            </td></tr>
        <tr class="row2">
            <td class="padding_9 right"><div class="required" aria-required="true">*</div>Дата выдачи</td>
            <td><input class="datepicker" type="text" value="" name="date"></td></tr>
        <tr class="row2">
            <td class="padding_9 right"><div class="required">*</div>Продлить до</td>
            <td><input class="datepicker" type="text" value="" name="expire_date"></td></tr>
        <tr class="row2">
            <td class="padding_9 right"><div class="required">*</div>Сдать документы на продление до</td>
            <td><input class="datepicker" type="text" value="" name="check_date"></td></tr>
        <tr>
            <td class="padding_9 right">Комментарий</td>
            <td class="secondary"><textarea cols="43" name="comment" rows="3"></textarea></td></tr>

        <tr><td colspan="2">{% include "post/personal__pop__buttons.html" %}</td></tr>

        <tr><td colspan="2">
            <fieldset class="in_pop" id="certificate_list"><legend>Список свидетельств сотрудника</legend>
                <span class="btn_ui legend" action="object_add" icon="object_add" title="Добавить свидетельство"><div class="icon"></div></span>
                <table class="tableinfo wide" id="certificate_list">
                    <thead><tr class="row title">
                        <td class="cell">Серия №</td>
                        <td class="cell">Дата выдачи</td>
                        <td class="cell">Дата окончания</td>
                        <td class="cell">Комментарий</td></tr>
                    </thead>
                    <tbody class="show"></tbody>
                </table></fieldset>
        </td></tr>

        <tr><td colspan="2">
            <fieldset class="in_pop" id="check_list"><legend>Проверки</legend>
                <span class="btn_ui legend" action="object_add" icon="object_add" title="Добавить проверку"><div class="icon"></div></span>
                <table class="tableinfo wide">
                    <thead><tr class="row title">
                        <td class="cell">Плановая<br />дата проверки</td>
                        <td class="cell">Фактическая<br />дата проверки</td>
                        <td class="cell">Комментарий</td></tr>
                    </thead>
                    <tbody class="show"></tbody>
                </table></fieldset>
        </td></tr>
        </tbody></table>

        <table class="check_table hide" style="width: 100%"><tbody><tr>
            <td><input type="text" value="" name="plan_check_date"></td>
            <td><input type="text" value="" name="real_check_date"></td>
            <td><input class="wide" type="text" value="" name="check_comment"></td>
            <td><div class="ui_button" action="save"></div>
                <div class="ui_button" action="cancel"></div>
                <div class="ui_button" action="remove"></div></td></tr>
        </tbody></table>
    </form>

</div>

