
<div class="personal_pop_navigation" style="float:left; padding:0 0 5px">
    <div class="btn_ui bg{% if focus == 'weapon' %} focus{% endif %}" action="weapon" icon="weapon">
        <div class="txt">РСЛа</div><div class="icon"></div></div>
    <div class="btn_ui bg{% if focus == 'certificate' %} focus{% endif %}" action="certificate" icon="certificate">
        <div class="txt">Cвидетельство</div><div class="icon"></div></div>
    <div class="btn_ui bg{% if focus == 'identity' %} focus{% endif %}" action="identity" icon="identity">
        <div class="txt">Удостоверение</div><div class="icon"></div></div>
    <div class="btn_ui bg{% if focus == 'card' %} focus{% endif %}" action="card" icon="card">
        <div class="txt">Карточка</div><div class="icon"></div></div>
    <div class="btn_ui bg{% if focus == 'details' %} focus{% endif %}" action="details" icon="details">
        <div class="txt">Данные</div><div class="icon"></div></div>
</div>
