{% extends "sentry/index.html" %}
{% block content %}

{% include "sentry/system/requests/__left_block.html" %}
<script type="text/javascript" src="{{ STATIC_URL }}index/js/sentry/system/requests/requests_cabinet.js"></script>
<div class="middleBlock">

<h2 class="cabinet_title">Заявки на регистрацию в личный кабинет</h2>
<select class="selectObject">
    <option value="wait" {% if status == 'wait' %}selected{% endif %}>на рассмотрении</option>
    <option value="allowed" {% if status == 'allowed' %}selected{% endif %}>одобренные</option>
    <option value="denied" {% if status == 'denied' %}selected{% endif %}>отклоненные</option>
    <option value="registered" {% if status == 'registered' %}selected{% endif %}>зарегистрированные</option>
</select>

{% for user in users_request %}
    {% if forloop.first %}
        <table class="tableInfo request_cabinet">
        <thead><tr class="row">
            <td class="cell">Время заявки</td>
            <td class="cell">№ договора</td>
            <td class="cell">Контактное лицо</td>
            <td class="cell">e-mail</td></tr></thead>
    {% endif %}

        <tr class="row tr_client_object" request_id="{{ user.id }}" status="{{ user.status }}">
            <td class="cell">{{ user.date_request|date:"d.m.Y" }} <span class="time">{{ user.date_request|date:"H:i:s" }}</td>
            <td class="cell">{{ user.order_num }}</td>
            <td class="cell"><b>{{ user.full_name }}</b></td>
            <td class="cell">{{ user.email }}</td>
            </tr>

    {% if forloop.last %}
        </table>
    {% endif %}

    {% empty %}<div class="error">Нет заявок.</div>

{% endfor %}


</div>
{% endblock %}